{% extends "base.html" %}

{% block heading %} 
Detail
{% endblock heading %}

{% block content %}

{% if  hour > item.opening_time and hour < item.closing_time %}
	<h1>Detail:</h1>
	<ul>
		<li>{{item.name}}</li>
		<li>{{item.description}}</li>
		<li>{{item.opening_time}}</li>
		<li>{{item.closing_time}}</li>
	{% if item.logo %}
	  <img class="img-fluid" src="{{item.logo.url}}" alt="Card image cap">
	{% endif %}
		{% for object in items %}
		<li>Item name:{{object.name}}</li>
		{% endfor %} 
	</ul>
{% else %}
	<h1>Closed...</h1>
{% endif %}	
{% endblock content %}
