{% extends "base.html" %}

{% block heading %} 
Restaurant List
{% endblock heading %}

{% block content %}	
<div class="jumbotron">
  <h1 class="display-3">List!</h1>
  <p class="lead">These are my Restaurants! Do you want to create one?</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'restaurant_create' %}" role="button">Create</a>
  </p>
  <form action="" method="GET">
    <input type="text" name='q' placeholder="Search..." value="{{request.GET.q}}">
    <input class="btn btn-primary" type="submit" value="Search">
  </form>
</div>

<div class="row">
{% for item in items %}
	<div class="card" style="width: 20rem;">
    {% if item.logo %}
      <img class="card-img-top" src="{{item.logo.url}}" alt="Card image cap">
    {% endif %} 
  		<div class="card-body">
    		<h4 class="card-title">{{item.name}}</h4>
   			<p class="card-text">{{item.description}}</p>
        <p class="card-text">Open from: {{item.opening_time}}-{{item.closing_time}}</p>
   			<a href="{% url 'restaurant_detail' restaurant_slug=item.slug %}" class="btn btn-info">Detail</a>
   			<a href="{% url 'restaurant_update' restaurant_slug=item.slug %}" class="btn btn-warning">Update</a>
    		<a href="{% url 'restaurant_delete' restaurant_slug=item.slug %}" class="btn btn-danger">Delete</a>
  		</div>
	</div>
{% endfor %}
</div>
  <div class="pagination">
    <span class="step-links">
        {% if items.has_previous %}
            <a href="?page={{ items.previous_page_number }}&q={{request.GET.q}}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ items.number }} of {{ items.paginator.num_pages }}.
        </span>

        {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}&q={{request.GET.q}}">next</a>
        {% endif %}
    </span>
  </div>
{% endblock content %}